html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 36px;
  padding: 4px;
  color: white;
}

.Board {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #333;
}

.Board > .name {
  text-align: left;
  font-weight: bolder;
  font-size: 18px;
  color: #EEE;
  padding: 14px 24px;
}

.Board > .content {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 0 8px 16px;
}
