html, body, #root, .App {
  height: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App > .nav {
  background-color: #222;
  width: 168px;
  color: white;
}

.App > .nav > h2 {
  height: 56px;
  line-height: 56px;
  text-align: left;
  font-size: 20px;
  margin: 0;
  padding: 8px 16px 0;
}

.App > .nav > a {
  display: block;
  text-align: left;
  font-size: 16px;
  color: #BBB;
  padding: 8px 16px;
  border-left: 2px solid transparent;
}

.App > .nav > a.selected {
  background-color: rgba(0, 0, 0, 0.3);
  border-left: 2px solid #CCC;
}
