.Board {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #333;
  padding: 0 8px;
}

.Board > .name {
  height: 56px;
  line-height: 56px;
  text-align: left;
  font-weight: bolder;
  font-size: 17px;
  color: #EEE;
  padding: 8px 16px 0;
}

.Board > .header {
  margin-bottom: 2px;
}

.Board > .header > div {
  display: flex;
  flex-direction: row;
}

.Board > .header > div > div {
  height: 32px;
  line-height: 32px;
  flex: 1;
  background-color: #EAEAEA;
  margin: 0 6px;
}

.Board > .content {
  overflow: scroll;
}

.Board > .content > div {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-bottom: 16px;
}
